@{
    ViewBag.Title = "About CCCM Nigeria";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3><u>Useful links about CCCM & DTM in Nigeria.</u></h3>*@
<h3>Useful links about CCCM & DTM in Nigeria.</h3>
<br />
To know more about CCCM & DTM Nigeria, please check the links below: 
<br /><br />
<p>
    Nigeria | CCCM & ES/NFI Website 
    <div><a href="http://nigeria.iom.int/cccm" title="Nigeria | CCCM & ES/NFI Website">http://nigeria.iom.int/cccm</a></div>
    <br />
    IOM Nigeria | DTM
    <div><a href="http://nigeria.iom.int/dtm" title="Nigeria | IOM/DTM Website">http://nigeria.iom.int/dtm</a></div>
    <br />
    CCCM Global Cluster | Nigeria
    <div><a href="http://www.globalcccmcluster.org/nigeria" title="Nigeria | CCCM Global Cluster">http://www.globalcccmcluster.org/nigeria</a></div>
</p>

<br />

<b>CONTACTS:</b>

<div>
    Sector Coordinator
    <p><a href="mailto:shelter.cccm.nigeria@gmail.com" title="CCCM Nigeria | Sector Coordinator">shelter.cccm.nigeria@gmail.com</a></p>

    CCCM & ES/NFI Sectors mailing list
    <p><a href="mailto:shelter-cccm-nigeria@gmail.com" title="CCCM & ES/NFI | Mailing list">shelter-cccm-nigeria@gmail.com</a></p>
</div>

