@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> <img src="../../Content/Images/IOM_Logo.png" style="height: 62px; width: 75px" />
    CM Multi Sector Tracker</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <p class="lead">

        The aim of this database is to process data collected by CCCM partners on a weekly basis<br />
        based on assessments done in IDP camps/Host communities in the North East of Nigeria.
    </p>
    @*<p><a href="http://nigeria.iom.int/dtm" class="btn btn-primary btn-large" title="IOM Nigeria/DTM">Learn more &raquo;</a></p>*@
</div>

<br />
No Account yet? @Html.ActionLink("Signup Now!", "SignUp", "uAccount")

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@